#editor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.sound-btns{
    display: flex;   
    gap: 50px;
    justify-content: space-evenly; 
}
.sound-btns button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    color: white;
    transform-origin: center center;
    cursor: pointer;
}
#label {
  fill: white;
  z-index: index 6;
}
.btn-playing{
  animation: spin 4s linear infinite;
}
@keyFrames spin {
  100%{transform:rotate(360deg);}
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.5);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    cursor: pointer;
    background: conic-gradient(
    #cccccc, #bbbbbb, #aaaaaa, #999999,
    #999999, #aaaaaa, #bbbbbb, #cccccc,
    #cccccc, #bbbbbb, #aaaaaa, #999999,
    #999999, #aaaaaa, #bbbbbb, #cccccc,
    #cccccc, #bbbbbb, #aaaaaa, #999999,
    #999999, #aaaaaa, #bbbbbb, #cccccc,
    #cccccc, #bbbbbb, #aaaaaa, #999999,
    #cccccc
    );
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }
