.modal{
    height: 10vh;
    width: 100vh;
}
.accordion-tab {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #AEC6CF;;
    width: 80%;
    cursor: pointer;
}
.accordion-tab:hover{
    background-color: yellow;
}
.sound-details{
    transition: .5s;
    background-color: #AEC6CF;

}
.sound-accordion.hide{
    height: 0;
    overflow: hidden;
}
.sound-accordion.show{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.sound-accordion {
    display: flex;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
}
.play-btn{
    display: flex;
    margin-left: 50px;
}
