#accordion{
    display: flex;
    transition: .5s;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    background-color: grey;
    box-shadow: inset 0 20px 40px 10px #000000,
                inset 0 -10px 40px -5px #000000;
}
#accordion.hide{
    max-height:0px;
    overflow: hidden;
}
#accordion.show{
   max-height: 490px;
}
.sound-accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .5s;
    max-height: 490px;
}
.sound-details{
}
.sound-name{
    cursor: pointer;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound-name:hover{
    color: #f6d258;
    transition: .8s;
}
.hide .sound-accordion{
    height: 0;
    overflow: hidden;
}
.show .sound-accordion{
    max-height: 490px;
}
.accordion-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    background-color: grey;
    cursor: pointer;
    height: 40px;
    transition: 1s;
    box-shadow: inset 0 10px 40px 5px #000000,
                inset 0 -15px 10px -15px #000000;
}
.accordion-tab:hover{
    background-color: white;
    color: #f6d258;
}
.hide .accordion-tab{
    opacity: 0;
}
.show .accordion-tab{
   opacity:1;
}
.accordion-drop{
    display: flex;
    align-items: center;
    flex-direction: column;    
    border-left: 5px solid black;
    border-right: 5px solid black;
    box-shadow: inset 0 10px 40px 5px #000000,
    inset 0 -15px 10px -15px #000000;
    transition: 1s;
    max-height: 300px;
    overflow-y: scroll;
}
.accordion-drop.hide-details{
    height: 0;
    overflow: hidden;
}
.accordion-drop.show-details{
    background-color: grey;
}
.close-accordion{
    display: flex;
    font-size: 30px;
    padding: 5px;
    margin-left: auto;
}
.close-accordion:hover{
    cursor: pointer;
    color: #f6d258;
    transition: .8s;
}
.fx{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
    color: white;
    padding-right: 20px;
}
.void-btn{
    cursor: pointer;
    padding: 5px;
    border-radius: .5em;
    background: linear-gradient(
        #cccccc, #bbbbbb, #aaaaaa, #999999,
        #999999, #aaaaaa, #bbbbbb, #cccccc,
        #cccccc, #bbbbbb, #aaaaaa, #999999,
        #cccccc
        );
}
.labels-in-fx{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: large;
}