.Header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 84vw;
    overflow-x: hidden;
}
.header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;
    box-sizing: border-box;
    top:0;
    width: 84vw;
    background-color: #AEC6CF;
    padding: 8px;
    height: 120px;
    border-bottom: 2px solid black;
    z-index: 3;
}
.play{
    padding: 20px;
    padding-top: 10px;
    align-items: center;
}
#play-btn{
    background-color: #62dd73;
    padding: 10px;
    align-content: center;
    font-size: 40px
}
#play-btn:hover{
    background-color: #1bf239;
}
.fav-soundscape{
    display: inline;
    padding: 10px;
    flex-direction: center;
}
.soundscape{
    padding: 20px;
}

.save-soundscape-div {
    display: flex;
    flex-direction: column;
}
.soundscape-delete{
    color: black;
}