.Header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 84vw;
    overflow-x: hidden;
    color: #D1C258;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    top:0;
    width: 84vw;
    background: white;
    background-image: linear-gradient(180deg,
    rgb(10, 10, 10)3%, 
    rgb(51, 50, 50)20%,
    rgb(77, 75, 75)30%,
    rgba(104, 104, 104, 0.25)46% 50%,
    rgb(109, 108, 108)60%,
    rgb(65, 65, 65)70%,
    rgb(44, 43, 43)80%,
    rgb(9, 9, 9));
    padding: 8px;
    height: 120px;
    border-bottom: 2px solid black;
    z-index: 3;
}
.btn-container{
    display: flex;
    align-items: center;
    gap:30px;
}
.play{
    display: flex;
    align-items: center;
    justify-content: center;
}
#play-btn{
    display: flex;
    align-content: center;
    justify-content: center;
    background:
    conic-gradient(
        #50c878, #3cb371, #2e8b57, #228b22, 
        #3cb371, #32cd32, #3cb371, #2e8b57, 
        #3cb371, #50c878, #3cb371, #2e8b57, 
        #228b22, #3cb371, #32cd32, #3cb371, 
        #2e8b57, #3cb371, #50c878, #3cb371, 
        #2e8b57, #228b22, #3cb371, #32cd32, 
        #3cb371, #2e8b57, #3cb371, #50c878, 
        #3cb371);
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    font-size: 40px
}
#play-btn:hover{
    background-color: #1bf239;
    cursor: pointer;
}
#reset-btn{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: auto;
    height:70px;
    width:70px;
    color: black;
    border: 2px solid;
    border-color: grey black black grey ;
    border-radius: .5em;
    cursor: pointer;
    box-shadow: inset 000 1px #eedc00;
    background:
        conic-gradient(
            #edc800, #e3b600, #f3cf00, #ffe800, 
			#ffe900, #ffeb00, #ffe000, #ebc500, 
			#e0b100, #f1cc00, #fcdc00, #ffe500, 
			#fad900, #eec200, #e7b900, #f7d300, 
			#ffe800, #ffe300, #f5d100, #e6b900, 
			#e3b600, #f4d000, #ffe400, #ebc600, 
			#e3b600, #f6d500, #ffe900, #ffe90a, 
			#edc800)
}
#reset-btn:active{
    border-color: black grey grey black
}
.soundscape{
    padding: 20px;
}
.save-soundscape-div {
    display: flex;
    flex-direction: row;
    background-color: rgb(0,64,0);
    border-top: 3px solid #000000ee;
    border-left: 3px solid #000000ee;
    border-bottom: 1px solid #cfcfcf33;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #000000ee inset;
    text-shadow: 0px 0px 20px #ffff00cc;
    margin: 5px;
    color: #00ff77cc;
    padding: 10px;
    width: 300px;
}
.panel{
    display: flex;
    flex-direction: column;
}
.live-room{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    background: radial-gradient(circle, red 30%, black 80%);
    background-position: center;
    border-radius: 8rem;
    border: 2px solid;
    border-color: grey black black grey ;
    height:70px;
    width:150px;
    animation: live 3s ease-in-out infinite;
}
.live-room:active{
    border-color: black grey grey black
}
.live-room p{
    display: inline-block;
    text-align: center;
    color: black;
    font-family: arial;
    font-weight: bold;
}
.not-live-room{
    display: flex;
    justify-content: center;
    align-items: center; 
    height:70px;
    width:150px;
    border-radius: 8rem;
    border: 2px solid;
    border-color: grey black black grey ;
    cursor: pointer;
    background: conic-gradient(
        #ff6666, #ff4d4d, #ff3333, #ff1a1a,
        #ff1a1a, #ff3333, #ff4d4d, #ff6666,
        #ff6666, #ff4d4d, #ff3333, #ff1a1a,
        #ff1a1a, #ff3333, #ff4d4d, #ff6666,
        #ff6666, #ff4d4d, #ff3333, #ff1a1a,
        #ff1a1a, #ff3333, #ff4d4d, #ff6666,
        #ff6666, #ff4d4d, #ff3333, #ff1a1a,
        #ff6666);
    
}
.not-live-room:active{
    border-color: black grey grey black
}
.not-live-room p{
    color: black;
    font-family: arial;
    font-weight: bold;
}
@keyframes live{
    0%, 100% {
        background-size: 100%;
    }
    50% {
        background-size: 200%;
    }
}
