.MainRoom{
    height: 50vh;
    background-image: url("https://www.popsci.com/uploads/2021/07/27/pawel-czerwinski-eybM9n4yrpE-unsplash-scaled-e1685635468228.jpg?auto=webp&optimize=high&width=1440") ;
    height: 100vh;
}