#modal {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(32, 32, 32, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 4;
}

#forms {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: radial-gradient(
        117% 194% at 50% 52%,
        rgba(255, 255, 255, 1) 15%,
        rgba(62, 62, 62, 1) 50%,
        rgba(0, 0, 0, 1) 90%
      );
      background-blend-mode: normal;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    width: 20vw;
    height: 65vh;
    gap: 50px;
    padding: 20px
}

#modal h1 {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
}

#modal label {
    font-size: 20px;
}

.login {
    display:flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 5px;
}

.register {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}