.account-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    right: 0;
    height: 100vh;
    width: 16vw;
    background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 1) 14%,
                rgba(115, 115, 115, 1) 41%,
                rgba(255, 255, 255, 1) 100%
            );
      background-blend-mode: soft-light;
      box-shadow: 7px 0px 0px 0px rgba(0, 0, 0, 0.3);
    background-blend-mode: soft-light;
    box-shadow: 7px 0px 0px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
    color: white;
}
.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 10px 20px;
    min-height: 10%;
    background: white;
    background-image: linear-gradient(180deg,
    rgb(10, 10, 10)3%, 
    rgb(51, 50, 50)20%,
    rgb(77, 75, 75)30%,
    rgba(104, 104, 104, 0.25)46% 50%,
    rgb(109, 108, 108)60%,
    rgb(65, 65, 65)70%,
    rgb(44, 43, 43)80%,
    rgb(9, 9, 9));
}

.username h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
}

.logout-and-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
}

.settings-btn {
    margin-top: 8px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.settings-btn :hover {
    background: transparent;
    color: #f6d258;
    transition: .8s;
}
.cog {
    font-size: 20px;
}

.logout-btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.logout-btn :hover {
    background: transparent;
    color: #f6d258;
    transition: .8s;
}
.exit-door {
    font-size: 24px;
}
.friends-div {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.friends-list {
    margin-top: 10px;
    height: 85%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 5px rgba(32, 32, 32, 0.85);
}
.add-friend {
    height: 7%;
    z-index: 4;
}
.add-friend-btn{
    display: flex;
    padding: 6px;
    border-radius: .5em;
    background: linear-gradient( 
        #999999, #aaaaaa, #bbbbbb, #cccccc,
        #cccccc, #bbbbbb, #aaaaaa, #999999,
        #cccccc
        );
    cursor: pointer;
}
.friends-label{
}
.friendname{
    display: flex;
    justify-content: right;
    padding-right: 3px;
}
.chatbox{
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 5px;
    background: radial-gradient(
        232% 294% at 50% 50%,
        rgba(255, 255, 255, 1) 12%,
        rgba(0, 0, 0, 1) 84%
      );
      background-blend-mode: normal;
  background-blend-mode: normal;
}
.chatroom-title{
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
}
.join-btn, .trash-btn{
    display: flex;
    justify-content: right;
    padding: 6px;
    border-radius: .5em;
    background: linear-gradient( 
        #999999, #aaaaaa, #bbbbbb, #cccccc,
        #cccccc, #bbbbbb, #aaaaaa, #999999,
        #cccccc
        );
}