#message-box{
    max-height: 140px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.message-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-box{
    padding: 5px;
    border-radius: .5rem;
}
.send-msg-div{
    display: flex;
}
.user{
    display: flex;
    justify-content: flex-end;
    color:grey;
    font-size: small;
}
.message-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 200px;
    word-break: normal;
    margin-top: 10px;
}
