.message-flex{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-box{
    height: 138PX;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.send-msg-div{
    display: flex;
    height: 36PX;
}
.input-box{
    width: 60%;
    padding: 5px;
    border-radius: .5rem;
}
.send-msg-div button{
    width: 40%;
}
.user{
    display: flex;
    color:grey;
    font-size: small;
}
.message{
    margin-right: 38px;
}
.message-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    width: 200px;
    word-break: normal;
    margin-top: 10px;
}
