.modalBackground{
    width: 100vh;   
    height: 100vh;  
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContainer{
    width: 200px;
    height: 600px;
    border-radius: 12px;
    background-color: white;
    box-shadow: black 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.modalContainer .title{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    padding: 5px;
}
.modalContainer-btn{
    display: flex;
    background-color: transparent;
    font-size: 20px;
    justify-content: flex-end;
}
.modalContainer .username{
    display: flex;
    align-items: center;
    text-decoration: underline;
}
.modalContainer .password{
    display: flex;
    align-items: center;
    text-decoration: underline;
}
.modalContainer .email{
    display: flex;
    align-items: center;
    text-decoration: underline;
}
.form{
    padding: 5px;
}
.upload-sounds{
    text-decoration: underline;
}
.save-btn{
    width: 60px;
}
